@import url("https://fonts.googleapis.com/css2?family=Anton&family=Hahmlet:wght@500&display=swap");

@mixin flex($value) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.profile__wrapper {
  @include flex(space-evenly);
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.profile__container {
  @include flex(center);
  flex-direction: column;
  color: rgb(79, 78, 78);
}

.profile__title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "Anton", sans-serif;
  font-family: "Hahmlet", serif;
}

.profile__title__icon {
  font-size: 40px;
  margin-right: 1rem;
}

.profile__title__content {
  margin-top: 1rem;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  font-family: "Hahmlet", serif;
}