@mixin flex($value) {
  display: flex;
  justify-content: $value;
  align-items: center;
}

.container {
  margin-top: 3rem;
}

.profile__wrapper {
  @include flex(space-evenly);
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
}

.profile__container {
  flex-direction: column;
  color: rgb(79, 78, 78);
}

.profile__title {
  @include flex(center);
  font-weight: bold;
  font-size: 25px;

  span {
    font-family: "Hahmlet", serif;
    margin-left: 1rem;
  }
}

.profile__title__icon {
  font-size: 40px;
}

.profile__title__content {
  margin-top: 1rem;
  font-size: 20px;
  font-family: "Hahmlet", serif;
}

@media only screen and (min-width: 2560px) {
  .profile__title {
    font-size: 28px;
  }
  .profile__title__content {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1024px) {
  .profile__title {
    font-size: 17px;
  }
  .profile__title__content {
    font-size: 12px;
  }

  .profile__title__icon {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .profile__wrapper {
    justify-content: space-between;
    width: 300px;
  }
  .fade__container {
    @include flex(center);
  }

  .profile__title {
    span {
      margin: 0;
    }
  }
}
